/* header*/
.navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 1137px;
    height: 51.84px;
    justify-content: center;
    padding: 2px 11px 2px 22px;
    border-radius: 65px;
    background: #02141E;
    z-index: 100;
  }
  
  
  
    .nav-links {
      list-style: none;
      gap:10px;
      margin-top: 10px;
      display: flex;
      padding-right:180px;
    }
  
    .nav-links li {
      margin-right: 100px;
      gap: 10px;
    }
  
    .nav-links a {
      text-decoration: none;
      color: #fff; 
    }
  
      /* the selected navigation link white */
      .nav-links a:hover,
      .nav-links a:focus,
      .nav-links a:active,
      .nav-links a.active {
      color: #fff;
      }
  
      .logo img {
          max-width: 100px; /* Adjust the logo size as needed */
          padding-right:70px;
      }
  
    .nav-links button{
      position:fixed;
      width: 176px;
      height: 33px;
      right:20px;
      padding: 7px 21px 7px 21px;
      border-radius: 100px;
      gap: 10px;
  
    }


/*contents*/

.about-section {
    background-color: #02141E;
    padding: 20px;
    height: 600px;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    font-size: 24px;
    margin-bottom: 20px;
    color:#fff;
}

h2 {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: 45px;
    color:#fff;
}

span {
    color: #73BFBF;
}

p {
    display: flex;
    align-items: center;
    font-size: 20px;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
    color:#fff;
}

.blog-section {
    background-color: #02141E;
    padding: 20px;
    height: 600px;
}

.home-section {
    background-color: #02141E;
    padding: 20px;
    top: 52px;
    height: 600px;
}

.service-section {
    background-color: #02141E;
    padding: 20px;
    height: 600px;
}
.workpage{
    background-color: #02141E;
}
.works-section {
    padding: 20px;
    min-height: 600px;
    position: relative;
}

.frame-container {
    position: relative;
    left: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 80px;
}

.frame {
    box-sizing: border-box;
    width: 404.86px;
    height: 478.93px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.image {
    width: 100%;
    height: auto;
    /* display: block; */
}

.text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(106.93deg, #07161C -25.75%, #0C4760 20.89%, #003246 70.54%);
    color: white;
    padding: 10px;
    text-align: center;
    transform: translateY(0%);
    opacity: 1;
    transition: opacity 0.3s ease;
}

/* .image-section:hover .text-overlay {
    opacity: 0;
} */

