.scene {
  width: 100%;
  height: 120vh;
  position: relative;
  overflow: hidden;
}
.sun{
  position: absolute;
  width: 120px;
  height: 120px;
  top: 235px;
  left: 750px;
}
.temple{
  position: absolute;
  width: 481px;
  height: 604px;
  top: 70px;
  left: 988px;
  z-index: 4;
}
.forest{
  position: absolute;
  width: 1480px;
  height: 485px;
  top: 180px;
  left: -23px;
  z-index: 1;
}
.hill{
  position: absolute;
  width: 1520px;
  height: 195px;
  top: 452px;
  left: -30px;
  z-index: 2;
}
.land{
  position: absolute;
  width: 2171px;
  height: 150px;
  top: 550px;
  left: -30px;
  z-index: 3;
}
.stars{
  position:absolute;
  width: 120px;
  height: 357px;
  top: -320px;
  left: -12px;

}
.wave{
  left: -250px;
  top :630px;
  /* bottom: -0px; */
  position: absolute;
  z-index: 6;
}
.explore-nepal{
  justify-content: left;
  position: absolute;
  width: 754px;
  height: 237px;
  top: 150px;
  left: 192px;
  z-index: 5;
}
.ex-nepal{
  position: absolute;
  font-size: 72px;
  left: -50px;
}
.embark{
  position: absolute;
  font-size: 18px;
  left: -45px;
  top: -1px;
  font-weight: lighter;
  color: #F5E290;
}
.get-started{
  position: absolute;
  left: -45px;
  top: 192px;
  color: #fff;
}