/* Parent Container */
.avatar-container {
  position: relative; /* Positioning */
}

 /* Initials Styles */
 .initials {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #ffffff;
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
  }
  .initials.custom-avatar.small{
    font-size: 14px;
  }
  .initials.custom-avatar.default{
    font-size: 24px;
  }
  .initials.custom-avatar.large{
    font-size: 32px;
  }

  /* Common Avatar Styles */
.custom-avatar {
    border-radius: 50%;
    background: linear-gradient(180deg, #01242F 0%, #246A81 100%);
    position: relative;
  }
  
  /* Small Avatars */
  .custom-avatar.small {
    width: 30px;
    height: 30px;
    margin-right: 8px; 
  }
  
  /* Default Avatars */
  .custom-avatar.default {
    width: 40px;
    height: 40px;
    margin-right: 8px; 
  }
  
  /* Large Avatars */
  .custom-avatar.large {
    width: 50px;
    height: 50px;
  }

  /* Avatar List Styles */
  .avatar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

  /* Large Avatars Overlapping to the Right
  .custom-avatar.large + .custom-avatar.large {
    margin-left: -20px;
  }

  /* Hover effect to reduce overlap on hover */
/* .avatar-list:hover .custom-avatar.large + .custom-avatar.large {
  margin-left: -10px; 
} */ 


li {
  display: inline-block;
  position: relative;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

li:nth-child(1)
li:nth-child(2) 
li:nth-child(3) 
li:nth-child(4) 
li:nth-child(n+2) { margin-left: -50px; }

.avatar-list:hover li:nth-child(n+2) {
   margin-left: -20px;
}